.idea/copyright/profiles_settings.xml
.idea/kasl.iml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/vcs.xml
.idea/vcs.xml
ci_session
.idea/.name
.idea/misc.xml
.idea/encodings.xml
bazzar.zip
.idea/scopes/scope_settings.xml
upload

